/abraviation name editor.py
/ai library.py
/birth day.py
/calculato.py
/Car.py
/clock.py
/face or tailes.py
/favorites colors library.py
/Git Bash.lnk
/good projects
/island.py
/library chat gpt.py
/library.py
/multiplication.py
/MY PROFFESSIONAL LIBRARY.py
/mètre.py
/oop.py
/pass word generator.py
/password editor.py
/Professionnel projects
/random choes number of the computer.py
/replace rabbit.py
/restaurant.docx
/resturant.py
/rock peaper scissor.py
/tasks editor.py
/tempCodeRunnerFile.py
/tikenter.py
/web browser.py
/websit.py
/__pycache__
/برنامج تشفير رسالة.py
/برنامج فك تشفير رسالة.py
/حساب المساحة مع التكلفة بطريقة افضل و اسهلt.py
/ساب المساحة مع التكلفة.py
/محرر وصفات الاكل.py.py